<a href="https://colab.research.google.com/github/YunSeoHwan/DNN_Base/blob/main/CH04/Gradient.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loss Function**

## **SSE**

In [1]:
import numpy as np

In [24]:
# MSE 함수 구현
def mean_squared_error(y, t):
   return 0.5 * np.sum((y - t)**2)

In [25]:
# 정답은 '2' -> one-hot
t = [0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

# ex1) : '2'일 확률이 가장 높다고 추정함(0.6) -> softmax 결과값
y = [0.1, 0.05, 0.6, 0.0, 0.05, 0.1, 0.0, 0.1, 0.0, 0.0]
print('MSE of ex1 =', mean_squared_error(np.array(y), np.array(t)))

# ex2) : '7'일 확률이 가장 높다고 추정함(0.6)
y = [0.1, 0.05, 0.1, 0.0, 0.05, 0.1, 0.0, 0.6, 0.0, 0.0]
print('MSE of ex2 =', mean_squared_error(np.array(y), np.array(t)))

MSE of ex1 = 0.09750000000000003
MSE of ex2 = 0.5975

## **Cross Entropy**

In [6]:
def cross_entropy_error(y, t):
    delta = 1e-7    # log0 방지
    return -np.sum(t * np.log(y + delta))

In [7]:
# answer = 2
t = [0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

# answer
y = [0.1, 0.05, 0.6, 0.0, 0.05, 0.1, 0.0, 0.1, 0.0, 0.0]
mse_answer = cross_entropy_error(np.array(y), np.array(t))
print(f"Answer : {mse_answer}")

# error
y = [0.1, 0.05, 0.1, 0.0, 0.05, 0.1, 0.0, 0.6, 0.0, 0.0]
mse_error = cross_entropy_error(np.array(y), np.array(t))
print(f"Error : {mse_error}")

Answer : 0.510825457099338
Error : 2.302584092994546

# **Mini Batch**

In [26]:
import sys, os
sys.path.append('/content/drive/MyDrive/Colab Notebooks/DNN_base/dataset')
from mnist import load_mnist

(x_train, t_train), (x_test, t_test) = load_mnist(normalize=True, one_hot_label=False)

print('x_train.shape :', x_train.shape) # image
print('t_train.shape :', t_train.shape) # label

x_train.shape : (60000, 784)
t_train.shape : (60000,)

In [27]:
# 무작위 10개 추출
train_size = x_train.shape[0]
batch_size = 10

batch_mask = np.random.choice(train_size, batch_size)   # 60000개 중 10개만 추출

x_batch = x_train[batch_mask]
t_batch = t_train[batch_mask]

print('batch_mask :', batch_mask)
print('x_batch.shape :', x_batch.shape)
print('t_batch.shape :', t_batch.shape)

batch_mask : [ 5651 48206  7316 23124 43701 28837 46731 46632 27684  3970]
x_batch.shape : (10, 784)
t_batch.shape : (10,)

## **Mini batch cross entropy**

In [28]:
# One-hot
def cross_entropy_error(y, t):
   if y.ndim == 1:
       t = t.reshape(1, t.size)
       y = y.reshape(1, y.size)

   batch_size = y.shape[0]
   return -np.sum(t * np.log(y)) / batch_size

In [30]:
# label
def cross_entropy_error(y, t):
   if y.ndim == 1:
       t = t.reshape(1, t.size)
       y = y.reshape(1, y.size)

   batch_size = y.shape[0]
   return -np.sum(np.log(y[np.arange(batch_size), t])) / batch_size # y[0, t_1], y[1, t_2], ...

# **수치 미분**

## **미분**

In [31]:
def numerical_diff(f, x):
   h = 1e-4  # 0.0001
   return (f(x+h) - f(x-h)) / (2*h) # 오차를 줄이기 위한 차분

np.float32(1e-50) # 너무 작은 값은 계산이 안됨 -> 1e-4가 적당하다고 알려짐

0.0